<!-- SHOWCASE-POPUP -->
<div class="popup popup-showcase-style-1">
    
    
    <!-- CONTAINER -->
    <div class="container">
    
    
        <!-- CONTENT --> 
        <div class="content bg-gold">
        
        
            <!-- CONTAINER INTRO -->
            <div class="container-intro allow-push-by-menu">
            
            
                <!-- ROW -->      
                <div class="row">
                
                
                    <!-- COLUMN- -->
                    <div class="col-lg-12">
                    
                        <img class="img-responsive" src="../images/proyectos/Proyecto-10.jpg" alt="Edit me">
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
                
                
                <!-- ROW -->
                <div class="row padding-top-60 padding-bot-60">
                
                
                    <!-- COLUMN -->
                    <div class="col-sm-4 showcase-title text-right">
                        
                        <h3>Organizaci&oacute;n Arach</h3>
                        <p>Desarrollo Web/Imagen/Publicidad</p>
                    
                    </div>
                    <!-- /COLUMN -->
                    
                    
                    <!-- COLUMN -->
                    <div class="col-sm-8 showcase-title-text">
                        
                        <p>
                        Seg&uacute;n requerimientos del cliente, se realizo el desarrollo de un sitio WEB basado
						en una campa&ntilde;a orientada a fortalecer la marca. Se realizaron tareas sobre las redes sociales, campa&ntilde;as de email y publicidad gr&aacute;fica. 
                        </p>
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
            
            
            </div>
            <!-- /CONTAINER INTRO -->
            
            
            <!-- BUTTON DESCRIPTION -->
            <div class="button-description">
            
            
                <!-- CONTENT VISIBLE -->
                <div class="content-visible">
                
                    <span class="ti-info"></span>
                
                </div>
                <!-- /CONTENT VISIBLE -->
                
                
                <!-- CONTENT HIDDEN -->
                <div class="content-hidden">
                
                    <span class="ti-close"></span>
                
                </div>
                <!-- /CONTENT HIDDEN -->
            
            
            </div>
            <!-- /BUTTON DESCRIPTION -->
            
            
            <!-- CONTAINER INFO -->
            <div class="container-info">
            
            
                <!-- CONTAINER MID -->
                <div class="container-mid">
                
                
                    <!-- ITEM LIST -->
                    <ul>
                    
                    
                        <!-- ITEM -->
                        <li>
                        
                            <h5>Organizaci&oacute;n Arach</h5>
                            <p>Brocker de Seguros</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>
                        
                            <h5>SOLUCI&Oacute;N</h5>
                            <p>IMAGEN, DESARROLLO WEB, SEO, PUBLICIDAD GR&Aacute;FICA</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                    </ul>
                    <!-- /ITEM LIST -->
                
                
                </div>
                <!-- /CONTAINER MID -->
            
            
            </div>
            <!-- /CONTAINER INFO -->
        
        
        </div>
        <!-- /CONTENT --> 
    
    
    </div>
    <!-- /CONTAINER -->


</div>
<!-- /SHOWCASE-POPUP -->


<!-- BUTTON CLOSE -->
<div id="popup-close-button-1" class="popup-close-button" data-action="close">

    <span class="ti-back-left" data-action="close"></span>

</div>
<!-- /BUTTON CLOSE -->