<!-- SHOWCASE-POPUP -->
<div class="popup popup-showcase-style-1">
    
    
    <!-- CONTAINER -->
    <div class="container">
    
    
        <!-- CONTENT --> 
        <div class="content bg-gold">
        
        
            <!-- CONTAINER INTRO -->
            <div class="container-intro allow-push-by-menu">
            
            
                <!-- ROW -->      
                <div class="row">
                
                
                    <!-- COLUMN- -->
                    <div class="col-lg-12">
                    
                        <img class="img-responsive" src="../images/proyectos/Proyecto-1.jpg" alt="Edit me">
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
                
                
                <!-- ROW -->
                <div class="row padding-top-60 padding-bot-60">
                
                
                    <!-- COLUMN -->
                    <div class="col-sm-4 showcase-title text-right">
                        
                        <h3>PLANTA DE DISTRIBUCI&Oacute;N DE AMON&Iacute;ACO</h3>
                        <p>INFRAESTRUCTURA / COMUNICACI&Oacute;N</p>
                    
                    </div>
                    <!-- /COLUMN -->
                    
                    
                    <!-- COLUMN -->
                    <div class="col-sm-8 showcase-title-text">
                        
                        <p>
                        Este proyecto requer&iacute;a una instalaci&oacute;n el&eacute;ctrica con grandes medidas de seguridad, se realizon instalaciones de luminarias 
						pertinentes al tipo de producto con el que la planta trabajaba. Se Realizo el montaje de una torre de 24mts para el montaje de 2 antenas de telecomunicaci&oacute;n y punto de enlace.
						Respecto a los elementos de seguridad electr&oacute;nica, se instalaron 12 camaras de seguridad, sensores de amon&iacute;aco, sensores de humo y fuego, sensores de combustible y varios elementos de seguridad b&aacute;sicos.
                        </p>
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
            
            
            </div>
            <!-- /CONTAINER INTRO -->
            
            
            <!-- BUTTON DESCRIPTION -->
            <div class="button-description">
            
            
                <!-- CONTENT VISIBLE -->
                <div class="content-visible">
                
                    <span class="ti-info"></span>
                
                </div>
                <!-- /CONTENT VISIBLE -->
                
                
                <!-- CONTENT HIDDEN -->
                <div class="content-hidden">
                
                    <span class="ti-close"></span>
                
                </div>
                <!-- /CONTENT HIDDEN -->
            
            
            </div>
            <!-- /BUTTON DESCRIPTION -->
            
            
            <!-- CONTAINER INFO -->
            <div class="container-info">
            
            
                <!-- CONTAINER MID -->
                <div class="container-mid">
                
                
                    <!-- ITEM LIST -->
                    <ul>
                    
                    
                        <!-- ITEM -->
                        <li>
                        
                            <h5>PLANTA DE DISTRIBUCI&Oacute;N DE AMON&Iacute;ACO</h5>
                            <p>Redistribuci&oacute;n y envasado de amon&iacute;aco</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>
                        
                            <h5>SOLUCI&Oacute;N</h5>
                            <p>INFRAESTRUCTURA, COMUNICACI&Oacute;N, ILUMINACI&Oacute;N, SEGURIDAD ELECTR&Oacute;NICA</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                       
                    
                    
                    </ul>
                    <!-- /ITEM LIST -->
                
                
                </div>
                <!-- /CONTAINER MID -->
            
            
            </div>
            <!-- /CONTAINER INFO -->
        
        
        </div>
        <!-- /CONTENT --> 
    
    
    </div>
    <!-- /CONTAINER -->


</div>
<!-- /SHOWCASE-POPUP -->


<!-- BUTTON CLOSE -->
<div id="popup-close-button-1" class="popup-close-button" data-action="close">

    <span class="ti-back-left" data-action="close"></span>

</div>
<!-- /BUTTON CLOSE -->