<!-- SHOWCASE-POPUP -->
<div class="popup popup-showcase-style-1">
    
    
    <!-- CONTAINER -->
    <div class="container">
    
    
        <!-- CONTENT --> 
        <div class="content bg-gold">
        
        
            <!-- CONTAINER INTRO -->
            <div class="container-intro allow-push-by-menu">
            
            
                <!-- ROW -->      
                <div class="row">
                
                
                    <!-- COLUMN- -->
                    <div class="col-lg-12">
                    
                        <img class="img-responsive" src="../images/proyectos/Proyecto-4.jpg" alt="Edit me">
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
                
                
                <!-- ROW -->
                <div class="row padding-top-60 padding-bot-60">
                
                
                    <!-- COLUMN -->
                    <div class="col-sm-4 showcase-title text-right">
                        
                        <h3>Planta de Reciclaje de Residuos</h3>
                        <p>Infraestructura / Seguridad Electr&oacute;nica</p>
                    
                    </div>
                    <!-- /COLUMN -->
                    
                    
                    <!-- COLUMN -->
                    <div class="col-sm-8 showcase-title-text">
                        
                        <p>
                        La necesidad de este cliente estaba basada en la restructuraci&oacute;n general de la distribuci&oacute;n del caudal de potencia el&eacute;ctrica, 
						control de procesos de producci&oacute;n, iluminaci&oacute;n general (aplicaci&oacute;n de la tecnolog&iacute;a LED), instalaci&oacute;n de las sistemas de seguridad electr&oacute;nica y la normalizaci&oacute;n de toda la 
						instalaci&oacute;n el&eacute;ctrica para su posterior habilitaci&oacute;n.
                        </p>
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
            
            
            </div>
            <!-- /CONTAINER INTRO -->
            
            
            <!-- BUTTON DESCRIPTION -->
            <div class="button-description">
            
            
                <!-- CONTENT VISIBLE -->
                <div class="content-visible">
                
                    <span class="ti-info"></span>
                
                </div>
                <!-- /CONTENT VISIBLE -->
                
                
                <!-- CONTENT HIDDEN -->
                <div class="content-hidden">
                
                    <span class="ti-close"></span>
                
                </div>
                <!-- /CONTENT HIDDEN -->
            
            
            </div>
            <!-- /BUTTON DESCRIPTION -->
            
            
            <!-- CONTAINER INFO -->
            <div class="container-info">
            
            
                <!-- CONTAINER MID -->
                <div class="container-mid">
                
                
                    <!-- ITEM LIST -->
                    <ul>
                    
                    
                        <!-- ITEM -->
                        <li>
                        
                            <h5>Planta de Reciclaje de Residuos</h5>
                            <p>Reciclaje y Recuperaci&oacute;n de Residuos</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>
                        
                            <h5>SOLUCI&Oacute;N</h5>
                            <p>RESTRUCTURACI&Oacute;N EL&Eacute;CTRICA / ILUMINACI&Oacute;N / SEGURIDAD ELECTR&Oacute;NICA / HABILITACI&Oacute;N</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        
                    
                    
                    </ul>
                    <!-- /ITEM LIST -->
                
                
                </div>
                <!-- /CONTAINER MID -->
            
            
            </div>
            <!-- /CONTAINER INFO -->
        
        
        </div>
        <!-- /CONTENT --> 
    
    
    </div>
    <!-- /CONTAINER -->


</div>
<!-- /SHOWCASE-POPUP -->


<!-- BUTTON CLOSE -->
<div id="popup-close-button-1" class="popup-close-button" data-action="close">

    <span class="ti-back-left" data-action="close"></span>

</div>
<!-- /BUTTON CLOSE -->