<!-- SHOWCASE-POPUP -->
<div class="popup popup-showcase-style-1">
    
    
    <!-- CONTAINER -->
    <div class="container">
    
    
        <!-- CONTENT --> 
        <div class="content bg-gold">
        
        
            <!-- CONTAINER INTRO -->
            <div class="container-intro allow-push-by-menu">
            
            
                <!-- ROW -->      
                <div class="row">
                
                
                    <!-- COLUMN- -->
                    <div class="col-lg-12">
                    
                        <img class="img-responsive" src="../images/proyectos/Proyecto-6.jpg" alt="Rosario Equipamientos">
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
                
                
                <!-- ROW -->
                <div class="row padding-top-60 padding-bot-60">
                
                
                    <!-- COLUMN -->
                    <div class="col-sm-4 showcase-title text-right">
                        
                        <h3>Rosario Equipamientos</h3>
                        <p>www.pagoxdia-rosario.com.ar</p>
                    
                    </div>
                    <!-- /COLUMN -->
                    
                    
                    <!-- COLUMN -->
                    <div class="col-sm-8 showcase-title-text">
                        
                        <p>
                        Cliente dedicado a la venta de productos por financiaci&oacute;n, al mismo se le realizo la Creaci&oacute;n de Marca, Dessarrollo Web, Sistema de control de minicuotas y Infraestructura, armado de Servidores. 
                        </p>
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
            
            
            </div>
            <!-- /CONTAINER INTRO -->
            
            
            <!-- BUTTON DESCRIPTION -->
            <div class="button-description">
            
            
                <!-- CONTENT VISIBLE -->
                <div class="content-visible">
                
                    <span class="ti-info"></span>
                
                </div>
                <!-- /CONTENT VISIBLE -->
                
                
                <!-- CONTENT HIDDEN -->
                <div class="content-hidden">
                
                    <span class="ti-close"></span>
                
                </div>
                <!-- /CONTENT HIDDEN -->
            
            
            </div>
            <!-- /BUTTON DESCRIPTION -->
            
            
            <!-- CONTAINER INFO -->
            <div class="container-info">
            
            
                <!-- CONTAINER MID -->
                <div class="container-mid">
                
                
                    <!-- ITEM LIST -->
                    <ul>
                    
                    
                        <!-- ITEM -->
                        <li>
                        
                            <h5>ROSARIO EQUIPAMIENTOS</h5>   
                          <p>Pago por d&iacute;a en Rosario</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>	
                        
                            <h5>SOLUCIONES</h5>
                            <p style="text-decoration:lowercase">MARCA, WEB, SISTEMA, INFRAESTRUCTURA</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        <!-- ITEM -->
                        <li>
                        
                            <a href="http://www.pagoxdia-rosario.com.ar">www.pagoxdia-rosario.com.ar</a>
                        
                        </li>
                        <!-- /ITEM -->
                    
                    
                    </ul>
                    <!-- /ITEM LIST -->
                
                
                </div>
                <!-- /CONTAINER MID -->
            
            
            </div>
            <!-- /CONTAINER INFO -->
        
        
        </div>
        <!-- /CONTENT --> 
    
    
    </div>
    <!-- /CONTAINER -->


</div>
<!-- /SHOWCASE-POPUP -->


<!-- BUTTON CLOSE -->
<div id="popup-close-button-1" class="popup-close-button" data-action="close">

    <span class="ti-back-left" data-action="close"></span>

</div>
<!-- /BUTTON CLOSE -->