<!-- SHOWCASE-POPUP -->
<div class="popup popup-showcase-style-1">
    
    
    <!-- CONTAINER -->
    <div class="container">
    
    
        <!-- CONTENT --> 
        <div class="content bg-gold">
        
        
            <!-- CONTAINER INTRO -->
            <div class="container-intro allow-push-by-menu">
            
            
                <!-- ROW -->      
                <div class="row">
                
                
                    <!-- COLUMN- -->
                    <div class="col-lg-12">
                    
                        <img class="img-responsive" src="../images/1-2.jpg" alt="Edit me">
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
                
                
                <!-- ROW -->
                <div class="row padding-top-60 padding-bot-60">
                
                
                    <!-- COLUMN -->
                    <div class="col-sm-4 showcase-title text-right">
                        
                        <h3>Showcase Name</h3>
                        <p>Brand / Subline</p>
                    
                    </div>
                    <!-- /COLUMN -->
                    
                    
                    <!-- COLUMN -->
                    <div class="col-sm-8 showcase-title-text">
                        
                        <p>
                        Lorem ipsum dolor sit amet, pri quodsi deserunt ea, vide omnes eum ad. Ex denique dissentiunt ullamcorper has. 
                        His nemore luptatum facilisi ne, at vis docendi aliquando, sea te eius laoreet eleifend. 
                        Usu modo quando propriae ea. Quaestio molestiae eos id, prompta luptatum scripserit ad eam, in nec vide imperdiet. 
                        Veniam soluta mentitum vel at, bonorum recusabo appellantur ne sea.
                        </p>
                    
                    </div>
                    <!-- /COLUMN -->
                
                
                </div>
                <!-- /ROW -->
            
            
            </div>
            <!-- /CONTAINER INTRO -->
            
            
            <!-- BUTTON DESCRIPTION -->
            <div class="button-description">
            
            
                <!-- CONTENT VISIBLE -->
                <div class="content-visible">
                
                    <span class="ti-info"></span>
                
                </div>
                <!-- /CONTENT VISIBLE -->
                
                
                <!-- CONTENT HIDDEN -->
                <div class="content-hidden">
                
                    <span class="ti-close"></span>
                
                </div>
                <!-- /CONTENT HIDDEN -->
            
            
            </div>
            <!-- /BUTTON DESCRIPTION -->
            
            
            <!-- CONTAINER INFO -->
            <div class="container-info">
            
            
                <!-- CONTAINER MID -->
                <div class="container-mid">
                
                
                    <!-- ITEM LIST -->
                    <ul>
                    
                    
                        <!-- ITEM -->
                        <li>
                        
                            <h5>Project</h5>
                            <p>Art and design website</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>
                        
                            <h5>Our Solution</h5>
                            <p>concept, design, ux design, development</p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li class="last">
                        
                            <h5>Awards</h5>
                            
                            <p>
                            Awwwards Site of The Day<br>
                            The FWA Mobile Site of The Day<br>
                            CSS Design Awards Site of The Day<br>
                            </p>
                        
                        </li>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <li>
                        
                            <a href="#">www.example.com</a>
                        
                        </li>
                        <!-- /ITEM -->
                    
                    
                    </ul>
                    <!-- /ITEM LIST -->
                
                
                </div>
                <!-- /CONTAINER MID -->
            
            
            </div>
            <!-- /CONTAINER INFO -->
        
        
        </div>
        <!-- /CONTENT --> 
    
    
    </div>
    <!-- /CONTAINER -->


</div>
<!-- /SHOWCASE-POPUP -->


<!-- BUTTON CLOSE -->
<div id="popup-close-button-1" class="popup-close-button" data-action="close">

    <span class="ti-back-left" data-action="close"></span>

</div>
<!-- /BUTTON CLOSE -->