.pricing-table-default .button-default:hover:before,blockquote.blockquote-default{border-color:#af997f!important}.block-team-1 .our-skills .progress-bar,.block-work-1 .work-grid a .cbp-caption-activeWrap,.progess-bar-default .progress-bar{background-color:#af997f!important}#popup-close-button-1,.block-about-1 .container-video a span,.block-contact-1 .tab-content .map-wrapper .button-description .content-hidden,.block-contact-1 .tab-content .map-wrapper .button-description .content-visible,.block-contact-1 .tab-content .row .col-xs-4 .container-social-item .container-description,.block-contact-1 .tab-content form .form-group,.block-contact-1 .tab-content form .form-group:after,.block-news-1 .container-news .container-article-info .container-button,.block-process-1 .process-info-box,.block-team-1 .cbp-item .cbp-caption-activeWrap,.block-work-1 .load-more:before,.default-slider .cbp-nav-pagination-item,.popup-container,.popup-showcase-style-1 .button-description .content-hidden,.popup-showcase-style-1 .button-description .content-visible,.popup-showcase-style-1 .cbp-nav-pagination-item,.popup-showcase-style-1 .content.bg-gold,.pricing-table-default,a.button-default.inverted:after,a.button-default:before,ul.tab-navigation-default li.active{background:#af997f !important}.block-contact-1 .tab-content .map-wrapper .container-info ul li a,.block-contact-1 .tab-content .map-wrapper .container-info ul li h5,.block-service-1 .tab-navigation li.active a span,.navigation-main ul li .dropdown-menu a:hover,.navigation-main ul li a:hover,.navigation-main ul li span:hover,.navigation-main ul li.current a,.navigation-main ul li.dropdown.open span,.popup-showcase-style-1 .container-info ul li a,.popup-showcase-style-1 .container-info ul li h5{color:#af997f!important}#page-loader .css-spinner{border-top-color:#af997f!important;border-left-color:#af997f!important}
.default-slider .cbp-nav-pagination-item,.popup-container,.pricing-table-default,a.button-default.inverted:after,a.button-default:before,ul.tab-navigation-default li.active{background:#2196f3!important}.cbp-lazyload:after,.cbp-popup-loadingBox:after,.cbp-popup-singlePageInline:after,.cbp:after,.pricing-table-default .button-default:hover:before,a.button-default.inverted:hover:before,blockquote.blockquote-default{border-color:#2196f3!important}.block-contact-1 .tab-content .map-wrapper .container-info ul li a,.block-contact-1 .tab-content .map-wrapper .container-info ul li h5,.block-service-1 .tab-navigation li.active a span,.navigation-main ul li .dropdown-menu a:hover,.navigation-main ul li a:hover,.navigation-main ul li span:hover,.navigation-main ul li.current a,.navigation-main ul li.dropdown.open span,.popup-showcase-style-1 .container-info ul li a,.popup-showcase-style-1 .container-info ul li h5{color:#2196f3!important}#page-loader .css-spinner{border-top-color:#2196f3!important;border-left-color:#2196f3!important}.progess-bar-default .progress-bar{background-color:#2196f3!important}.hero .background-content .bg-color{background:#2196f3}.block-team-1 .our-skills .progress-bar,.block-work-1 .work-grid a .cbp-caption-activeWrap{background-color:#2196f3!important}#popup-close-button-1,.block-about-1 .container-video a span,.block-contact-1 .tab-content .map-wrapper .button-description .content-hidden,.block-contact-1 .tab-content .map-wrapper .button-description .content-visible,.block-contact-1 .tab-content .row .col-xs-4 .container-social-item .container-description,.block-contact-1 .tab-content form .form-group,.block-contact-1 .tab-content form .form-group:after,.block-news-1 .container-news .container-article-info .container-button,.block-news-1 .container-news .container-article-info .container-title,.block-process-1 .process-info-box,.block-team-1 .cbp-item .cbp-caption-activeWrap,.block-work-1 .load-more:before,.popup-showcase-style-1 .button-description .content-hidden,.popup-showcase-style-1 .button-description .content-visible,.popup-showcase-style-1 .cbp-nav-pagination-item,.popup-showcase-style-1 .content.bg-gold{background:#2196f3!important}
.error-div-msg{
    font-weight: bold;
	display:none;
	font-size:12px;
	color:red;
	text-align:center;
	padding:10px;
	/*border: 1px solid red;*/
	margin-bottom:30px;
	margin-top:-65px;
}
.error-div-msg h3{
	color:red;
}
